<div id="body-pd">
    <header class="header" id="header">
        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>
        <form action="/search" method="post">
            <input type="text" name="search" class="search" placeholder="Busca por id" autocomplete="off" id="">
        </form>
        <div class="header__img">
            <img src="https://avatars.githubusercontent.com/u/175660989?v=4" alt="">
        </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="/" class="nav__logo">
                    <i class='bx bx-layer nav__logo-icon'></i>
                    <span class="nav__logo-name">QAA</span>
                </a>

                <div class="nav__list">
                    <a href="/" class="nav__link">
                        <i class='bx bx-grid-alt nav__icon'></i>
                        <span class="nav__name">Home</span>
                    </a>

                    <a href="/question" class="nav__link">
                        <i class='bx bx-message-square-detail nav__icon'></i>
                        <span class="nav__name">Question</span>
                    </a>

                </div>
            </div>

            <a href="#" class="nav__link">
                <i class='bx bx-log-out nav__icon'></i>
                <span class="nav__name">Log Out</span>
            </a>
        </nav>
    </div>

    <!--===== MAIN JS =====-->
    <script src="../JS/main.js"></script>
</div>
