@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.questionT {
    width: 300px;
    height: 350px;
    background-color: #212121;
    margin: 20px 4px;
    padding: 30px;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 .3125rem .625rem 0 rgba(0, 0, 0, 0.411)!important;
    transition: 600ms ease;
}
.reply {
    background-color: transparent;
    border: 2px solid #ccc;
    font-family: 'Roboto', sans-serif;
    color: #ccc;
    padding: 10px 70px 10px 70px;
    position: relative;
    top: 80%;
    text-transform: uppercase;
    float: right;
    margin:8px 0 0;
    cursor:pointer;
    transition: 300ms ease;
}
.reply:hover {
    background-color: transparent;
    padding: 10px 78px 10px 70px;
}
#forEach {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
    #forEach {
        justify-content: center;
    }
    .questionT {
        width: 300px;
        height: 350px;
        background-color: #212121;
        margin: 5px 4px;
        padding: 30px;
        border-radius: 5px;
        color: white;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0 .3125rem .625rem 0 rgba(0, 0, 0, 0.411)!important;
        transition: 600ms ease;
    }
}
@media screen and (max-width: 360px) {
    #forEach {
        justify-content: center;
    }
    .questionT {
        width: 250px;
    }
}
